{% extends 'inventory/base.html' %}
    
{% block content %}
    <div>
        <div class="row">
            <div class="col-sm-11 col-md-4 mx-auto mt-5">
                <h1 class="fw-light">Track and Manage Your Inventory</h1>
                <p class="fw-light">Keep track of your inventory, filter your views to manage your stock, and receive quantity alerts to keep your inventory in stock.</p>
                <div>
                    <a href="{% url 'dashboard' %}" class="btn btn-primary">Get Started Now!</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}